
  <div class="hero bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md py-8 lg:py-16">
        <h1 class="text-5xl font-bold leading-normal">通过 Daisy UI 构建 数字内容站点</h1>
        <p class="py-6">DaisyUI 为Tailwind CSS 最流行的组件库之一，daisyUI 将组件类名添加到 Tailwind CSS 中，因此您可以制作美丽的网站 比以往更快。</p>
        <a href="/s/get-started" class="btn btn-primary bg-primary">Get Started</a>
        <a href="https://daisyui.com/" target="_blank" class="btn btn-secondary">去Daisy UI官网</a>
      </div>
    </div>
  </div>

<div class="max-w-7xl mx-auto">

  <div class="diff aspect-[16/9] my-12 lg:my-20">
    <div class="diff-item-1">
      <div class="bg-secondary text-primary-content text-9xl font-black grid place-content-center">DAISY</div>
    </div>
    <div class="diff-item-2">
      <div class="bg-primary text-9xl font-black grid place-content-center">Baklib</div>
    </div>
    <div class="diff-resizer"></div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-12">
    <article class="prose">
      <h1>什么是 Daisy UI?</h1>
      <p>
        For years parents have espoused the health benefits of eating garlic bread with cheese to their
        children, with the food earning such an iconic status in our culture that kids will often dress
        up as warm, cheesy loaf for Halloween.
      </p>

      <p>
        But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
        springing up around the country.
      </p>
      <!-- ... -->
    </article>
    <article class="prose">
      <h1>什么是 Baklib?</h1>
      <p>
        For years parents have espoused the health benefits of eating garlic bread with cheese to their
        children, with the food earning such an iconic status in our culture that kids will often dress
        up as warm, cheesy loaf for Halloween.
      </p>

      <p>
        But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
        springing up around the country.
      </p>
      <!-- ... -->
    </article>
  </div>

</div>
<!-- End Timeline -->
{% schema %}
  {
    "name": "首页",
    "thumb_url": "images/theme/index.png",
    "preview_image_urls": [
        "images/theme/index.png"
    ],
    "description": "Help Center, Customer Support",
    "sub_page_templates": [
        "page"
    ]
  }
{% endschema %}
