{% layout 'documentation' %}
{% assign pages = site.pages['/'].children_in_nav_menu %}


<!-- ========== MAIN CONTENT ========== -->
<div class="flex p-5 md:p-10 md:pt-10 xl:gap-20">
    <article class="flex flex-col max-w-3xl">
      <div class="text-sm breadcrumbs pt-0 pb-4">
        <ul>
          <li><a href="/" class="hover:text-primary">Home</a></li>
          <li class="text-primary">{{ page.link_text }}</li>
        </ul>
      </div>
      <section class="prose md:prose-md mb-10 max-w-none">
        <div>
          <h1>{{ page.link_text }}</h1>
          <p>{{doc.data.description}}</p>
        </div>

        <div class="divider my-5"></div>

        {{ page.settings.content }}
      </section>
      <div class="divider"></div>
      <Pagination />
    </article>
    <div>
      {% render 'in_page_nav', settings: site.settings, page: page %}
    </div>
  </div>
<!-- ========== END SECONDARY CONTENT ========== -->

<!--/ article-->
{% schema %}
    {
    "name": "Page",
    "thumb_url": "images/theme/page.png",
    "description": "文章模板，固定的布局",
    "sub_page_templates": ["page"],
    "settings": [
        {
          "id": "title",
          "type": "text",
          "placeholder": "",
          "label": "标题",
          "info": "显示在正文上方的文章标题"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "页面内容"
        },
        {
          "id": "tags",
          "type": "tag_picker",
          "multiple": true,
          "label": "标签"
        }
    ]
    }
{% endschema %}
